.functions {
  background: #F8F8F8;
  padding: 40px 0 80px;
  &__top {
    display: flex;
    align-items: flex-end;
    min-height: 314px;
    background: url(../images/bg_finction.jpg) center (center/cover) no-repeat;
    border-radius: 16px;
    padding-left: 45px;
    padding-bottom: 32px;
  }
}
.tabs {
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  &__content {
    width: 573px;
    margin-right: 20px;
  }
  &__content-title {
    font-weight: 600;
    font-size: 15.1024px;
    line-height: 148.52%;
    color: #000000;
    margin-top: 37px;
  }
  &__content-title--mtnone {
    margin-top: 0;
  }
  

  &__list ul {
    list-style-type: disc;
  }
  &__list-item {
    position: relative;
    padding-left: 15px;
    margin-top: 20px;
  }
  &__list-item::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #AAD7B3;
    border-radius: 50%;
    top: 7px;
    left: 0;
  }
  &__list-text {
    font-weight: 300;
    font-size: 13px;
    line-height: 173.52%;
    color: #000000;
  }
  &__list-item li {
    &:nth-child(4) {
      margin-top: 10px;
    }
  }
  &__list-item--dotsnone {
    list-style: none;
  }
  &__items {
    margin-top: 10px;
  }
  &__items-item {
    margin-left: 15px;
    font-weight: 300;
    font-size: 12.5854px;
    line-height: 173.52%;
    color: #757070;
  }
  &__content-item {
    display: none;
  }
  &__content-item--active {
    display: block;
  }

  &__triggers {
    width: 350px;
    height: 634px;
    background: #FFFFFF;
    box-shadow: 38px 35px 30px rgba(32, 35, 44, 0.01), 17px 15px 23px rgba(32, 35, 44, 0.02), 4.62596px 3.70077px 12.0275px rgba(32, 35, 44, 0.02), 0px 0px 0px rgba(32, 35, 44, 0.02);
    backdrop-filter: blur(11px);
    border-radius: 6.47635px;
    padding: 41px 46px;
  }
  &__accordion-item {
    display: none;
  }
  &__triggers-item {
    display: block;
    position: relative;
    width: 51px;
    height: 51px;
    background-color: rgba(175, 175, 175, 0.78);
    border-radius: 8px;
    background-image: url(../images/tab_icon_1.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: .5s all;
    &:hover {
      background-color:#437e54;
      
    }
    &::before {
      content: "Коммуникации";
      width: 219px;
      position: absolute;
      left: 65px;
      font-weight: 500;
      font-size: 13px;
      line-height: 148.52%;
      color: #A6A6A6; 
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__triggers-item--active {
    background-color: rgba(131, 181, 140, 0.78);
    transition: .5s all;
    &:hover {
      background-color: rgba(131, 181, 140, 0.78);
      
    }
    &::before {
      color: #000000;
    }
  }
  &__triggers-item +
  &__triggers-item {
    margin-top: 33px;
  }
  &__triggers-item--text2 {
    background-image: url(../images/tab_icon_2.svg);
    &::before {
      content: "Внешние коммуникации";
    }
  }
  &__triggers-item--text3 {
    background-image: url(../images/tab_icon_3.svg);
    &::before {
      content: "Визуальная Индивидуализация школы и роли ";
    }
  }
  &__triggers-item--text4 {
    background-image: url(../images/tab_icon_4.svg);
    &::before {
      content: "Приложение";
    }
  }
  &__triggers-item--text5 {
    background-image: url(../images/tab_icon_5.svg);
    &::before {
      content: "CRM";
    }
  }
  &__triggers-item--text6 {
    background-image: url(../images/tab_icon_6.svg);
    &::before {
      content: "Учебная часть";
    }
  }
  &__triggers-item--text7 {
    background-image: url(../images/tab_icon_7.svg);
    &::before {
      content: "Сайт";
    }
  }
}
.icon-rectangle:before {
  content: "\f078";
  border: none;
}
.icon-Group-47 {
  position: relative;
  cursor: pointer;
}
.tool-tip_text {
  position: absolute;
  width: 161px;
  min-height: 58px;
  background: #FFFFFF;
  border: 0.5px solid #83B58C;
  border-radius: 10px;
  padding: 10px 6px;
  text-align: center;
  top: -110px;
  left: 17px;
  font-size: 10px;
  line-height: 148.52%;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s all;
  z-index: 3;
}

.icon-Group-47:hover .tool-tip_text {
  opacity: 1;
  visibility: visible;
} 
